extends layout
include _mixin/contrib.pug
include _mixin/write.pug
include _mixin/author.pug

block content
  article
    h1= title
    p= body

      //- a(href=`/u/${author.uuid}`)=author.login
    p= toYmd(createdAt)
    +author(author)
  hr

  +contrib(contributions, toYmd)
  
  +write(id)
