extends layout
include _mixin/contrib.pug
include _mixin/parent.pug
include _mixin/breadcrumbs.pug
include _mixin/author.pug
include _mixin/write.pug

block content
  article
    +breadcrumbs(breadcrumbs)
    h1= title
    +parent(parent)
    p= body

      //- a(href=`/u/${author.uuid}`)=author.login
    p
      | wrote on&nbsp;
      =toYmd(createdAt)
      | &nbsp;by&nbsp;
      +author(author)
  hr

  +contrib(contributions, toYmd)
  
  +write(id)
