mixin parent(message)
  blockquote
    p 
      span answering to &lt;
      span= message.User.login
      span &gt; in 
      a(href=`/m/${message.id}`)= message.title
      span :
    div= message.body
